dify_workflow/AI_KP_Chatflow.yml
app:
  description: Dice Tales AI KP 专用 Chatflow，供后端 /chat-messages 调用
  icon: 🎭
  icon_background: '#E4F2FF'
  icon_type: emoji
  mode: advanced-chat
  name: AI KP Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openrouter:0.0.41@99cd79bc154370c899547ce17cea8edc569e86c06c795d4f8577b5c42eb712c3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start-source-llm-target
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-answer-target
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: 后端生成的会话 ID
          label: session_id
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: session_id
        - default: ''
          hint: 玩家本轮输入的动作文本
          label: player_action
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: player_action
        - default: ''
          hint: 后端透传的完整结构化上下文
          label: context_payload
          options: []
          placeholder: ''
          required: false
          type: json_object
          variable: context_payload
      height: 180
      id: start
      position:
        x: 80
        y: 240
      positionAbsolute:
        x: 80
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: anthropic/claude-3.5-sonnet
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: system-kp
          role: system
          text: "你是《Dice Tales》的 AI KP。你必须以 COC 守秘人视角回应，并且严格输出 JSON。\n\n规则：\n1. narration 必须是自然中文叙事，不要解释自己是模型。\n2. 优先依据 context_payload 中的 scenario、runtime、recent_dialogue、player_action 裁定。\n3. 只有在确实需要检定时才输出 required_check。\n4. scene_change、location_change、quest_update、state_update、inventory_update、check_result 都必须是结构化字段，不能混进 narration。\n5. choices 用于给玩家提供 0-3 个简短可执行建议。\n6. 不要泄露 keeper 专属信息给玩家，除非剧情已经允许。\n7. 如果上下文不足，先基于当前线索给出合理过渡，而不是拒答。\n8. 输出必须能被 JSON.parse 直接解析。"
        - id: user-kp
          role: user
          text: "[结构化上下文]\n{{#start.context_payload#}}\n\n[玩家动作]\n{{#start.player_action#}}\n\n[后端原始 Query]\n{{#sys.query#}}"
        selected: false
        structured_output:
          schema:
            properties:
              narration:
                type: string
              choices:
                items:
                  type: string
                type: array
              state_update:
                type: object
              scene_change:
                type:
                - string
                - 'null'
              location_change:
                type:
                - string
                - 'null'
              quest_update:
                type:
                - string
                - 'null'
              required_check:
                type:
                - object
                - 'null'
              check_result:
                type:
                - object
                - 'null'
              inventory_update:
                type:
                - object
                - 'null'
            required:
            - narration
            - choices
            - state_update
            - scene_change
            - location_change
            - quest_update
            type: object
        structured_output_enabled: true
        title: KP 推理与回复
        type: llm
        vision:
          enabled: false
      height: 96
      id: llm
      position:
        x: 420
        y: 240
      positionAbsolute:
        x: 420
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 280
    - data:
        answer: '{{#llm.structured_output#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 760
        y: 240
      positionAbsolute:
        x: 760
        y: 240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 0
      y: 0
      zoom: 0.8
